[package]
name = "openfairdb"
version = "0.2.8-dev"
authors = ["Markus Kohlhase <mail@markus-kohlhase.de>"]

[dependencies]
r2d2 = "0.7"
clap = "2"
log = "0.3"
slog-envlogger = "2"
uuid = { version = "0.5", features = ["v4"] }
rusted_cypher = "1"
r2d2_cypher = "0.3"
url = "1"
quick-error = "1"
rocket = "0.3"
rocket_codegen = "0.3"
rocket_contrib = "0.3"
serde = "1"
serde_json = "1"
serde_derive = "1"
chrono = "0.4"
lazy_static = "0.2"
regex = "0.2"
pwhash = "0.1"
fast_chemail = "0.9"
quoted_printable = "0.4"
toml = "0.4"
