[package]
name = "ofdb-core"
version = "0.0.0" # will stay 0.0.0 until published
authors = ["slowtec GmbH <post@slowtec.de>"]
edition = "2018"
publish = false

[dependencies]
ofdb-entities = "*"
thiserror = "*"
url = "*"

[dev-dependencies]
ofdb-entities = { version = "*", features = ["builders"] }
criterion = "*"

[[bench]]
name = "calc_avg_rating"
harness = false
