html, body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background: #333;
  text-align: right;
}

header, header a {
  color: #fff;
}

header {
  font-size:0.9em;
}

header .msg {
  margin-right: 0.3em;
}

header .msg span.email {
  font-weight: bold;
}

header nav {
  padding-bottom: 0.1em;
}

header nav form.logout {
  display: inline-block;
}

header nav form.logout input {
  color: #fff;
  margin: 0;
  padding: 0;
  border:none;
  background:none;
  cursor: pointer;
}

header nav form.logout input,
header nav a {
  text-decoration: none;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

header nav form.logout input:hover,
header nav a:hover {
  color: #5f5;
}

main {
  max-width: 98%;
  margin: auto;
  margin-top: 1em;
}

.search h1 {
  text-align: center;
}

.search-form {
  margin-top: 2em;
  margin: auto;
  text-align: center;
}

.search-form form input {
  margin: 0.2em;
}

.search-form form .btn {
  font-size: 1.1em;
  margin: 1em;
}

.results {
  margin: auto;
  max-width: 960px;
}

ul.result-list {
  list-style: none;
}

fieldset {
  border: none;
}

.flash {
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
  text-align:center;
}

.flash.error {
  background-color: red;
  color: #fff;
}

.flash.success {
  background-color: green;
  color: #000;
}

.events {
  max-width: 30em;
  float: left;
  min-width: 15em;
}

.events .no-results {
  padding: 1em;
}

.events h3 {
  text-align: center;
  color: #fff;
  background-color: rgb(229, 98, 146);
  margin: 0;
  padding: 0.5em;
}

.event-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-list li a {
  color: #222;
  text-decoration: none;

}
.event-list li a div {
  background-color: #efefefef;
  border-left: 5px solid transparent;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.event-list li a div p {
  margin-bottom: 0;
  margin-top: 0.4em;
  color: #555;
}

.event-list li a div:hover {
  border-left-color: rgb(229, 98, 146);
  background-color: #fff;
}
.event-list li a h4  {
  margin-top: 0;
  margin-bottom: 0;
}

.event-list li a h4 span.date {
  float: right;
  font-weight: normal;
}

.details {
  float: left;
  padding: 1.8em;
  max-width: 20em;
}

.details, .events  {
  border-right: 1px solid #bbb;
}

.details a {
  color: #111;
  text-decoration: none;
}

.details h2, h3, h4 {
  color: #444;
  margin-top: 0.60em;
  margin-bottom: 0.2em;
}
.details p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.details .time {
  margin-top: 0.1em;
}

.details .description {
  color: #666;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.details.event .entity-type{
  color: rgb(229, 98, 146);
}

.details ul.tags {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ddd;
  padding:0.2em;
  padding-left:0.4em;
  padding-right:0.4em;
  border-radius: 0.4em;
  color: #333;
}