[package]
name = "ofdb-entities"
description = "Reusable, agnostic domain entities for OpenFairDB."
version = "0.10.0"
authors = ["slowtec GmbH <post@slowtec.de>"]
license = "MIT/Apache-2.0"
homepage = "https://github.com/kartevonmorgen/openfairdb"
repository = "https://github.com/kartevonmorgen/openfairdb"
edition = "2018"

[dependencies]
bs58 = "0.4"
chrono = "0.4"
itertools = "0.10"
num-derive = "0.3"
num-traits = "0.2"
pwhash = "1"
uuid = { version = "0.8", features = ["v4"] }
url = { version = "2", optional = true }
strum = { version = "0.20", features = ["derive"] }
thiserror = "1"

[features]
default = []
builders = []
rusturl = ["url"]
wasm-bindgen = ["uuid/wasm-bindgen"]

[dev-dependencies]
rand = "0.7"

[badges]
maintenance = { status = "actively-developed" }
